<footer class="bg-dark text-light mt-5 py-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">&copy; <%= Date.current.year %> RottenPotatoes. All rights reserved.</p>
        <p class="mb-0 mt-2">
          <small>Your go-to destination for movie reviews and ratings</small>
        </p>
      </div>
    </div>
  </div>
</footer>


